nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

p {
    padding: 0;
}

main {
    width: 500px;
}

aside {
    width: 1850px;
    margin: auto;
    border: 0cap;
    padding: 20px;
    background-color: lightblue;
    color: black;
}

aside img {
    width: 150px;
    height: auto;

}

footer {
    margin-top: 10px;
    border-top: 10px;
    text-align: center;
}